@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --container: 112rem;
  --m-auto: 0 auto;
  --white: #fff;
  --bg-hero: #251c5a;
  --bg-item: #5d46e2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

.hero-section {
  background-image: url("./images/landing-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section::-webkit-scrollbar {
  display: none;
}

header {
  background-color: transparent;
  width: 100%;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  height: 10vh;
  z-index: 999;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 0.5rem;
}

nav ul li a:hover {
  color: #fff;
  font-weight: 600;
}

nav a:after {
  background: none repeat scroll 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  text-transform: uppercase;
}

.mobile-menu-icon {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 1;
  cursor: pointer;
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-24px, 10px);
}

.hamburger-menu .line {
  background-color: #fff;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav.open ul {
  transform: translateX(0);
}

nav.open .hamburger-menu {
  transform: rotate(180deg);
}

nav.open .hamburger-menu .line:nth-of-type(1) {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg) translate(0.6rem, 0.1rem);
}

nav.open .hamburger-menu .line:nth-of-type(2) {
  display: none;
}

nav.open .hamburger-menu .line:nth-of-type(3) {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg) translate(0.6rem, -0.1rem);
}

.logo img {
  width: 55%;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.hero-section-left,
.hero-section-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-right img {
  height: 29rem;
  width: auto;
  opacity: 0.7;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
}

.persona-fest h1 {
  /* border: 2px solid red; */
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: left;
  /* line-height: 2rem; */
  font-size: 80px;
}

.persona-date h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(250, 250, 250);
  font-weight: 150px;
  font-size: 50px;
}

.dash img {
  width: 50%;
}

.register-btn {
  margin-top: 2rem;
}

.register-now {
  display: flex;
  width: 326px;
  height: 51px;
  justify-content: center;
  align-items: center;
  background: #ff5c00;
  border-radius: 25.5px;
  cursor: pointer;
}

.register-now a {
  all: unset;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
}

.register-now:after {
  position: fixed;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.marquee {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  height: 32px;
  margin: auto;
  border-radius: 4px;
  transform: translateY(-15px);
  background: linear-gradient(90deg, #1f7d60 0%, #00c2ff 100%);
  z-index: 998;
}

/* persona about */

.about-persona {
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  background-image: url(./images/persona-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-persona-text {
  width: 55%;
  height: auto;
  font-family: "Poppins", sans-serif;
  color: #464646;
}

.about-persona-text h1 {
  font-size: 70px;
}

.about-image {
  width: 30%;
}

.dash-image {
  width: 15rem;
}

.about-content {
  padding: 20px 20px 0 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #464646;
  font-size: 30px;
}

/* counter section  */

.section-heading {
  font-size: 4rem;
}

#hero,
#pricing {
  background: var(--bg-hero);
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_counter {
  padding: 0;
  background: white;
}

#section_counter .section-heading {
  padding-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.counter-container {
  margin: 5rem 3rem;
  display: flex;
  justify-content: center;
}

.counter-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 1.5fr 1.2fr;
  gap: 2rem;
}

span {
  display: inline-block;
}

.plus {
  font-size: 25px;
}

.counter-item {
  height: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border-radius: 1rem; */
  transition: all 0.5s ease-in-out;
  animation: slide-up;
  font-size: 5rem;
}

.one,
.three {
  background-color: #53338d;
  border-radius: 7px;
}

.two,
.four {
  background-color: #ff5c00;
  border-radius: 7px;
}

.one:hover,
.three:hover {
  background-color: #5a19d3;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.two:hover,
.four:hover {
  background-color: #cd5f1f !important;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.counter-img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.2rem var(--bg-hero));
}

.counter-main h1 {
  font-size: 30px;
}

.counter-img:nth-child(1) {
  width: 9rem;
  height: auto;
}

.counter-item:hover {
  background: var(--bg-hero);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.counter-item .counter {
  font-size: 3.5rem;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: var(--white);
  -moz-text-stroke-color: var(--white);
  -ms-text-stroke-color: var(--white);
  -o-text-stroke-color: var(--white);
}

.counter-text {
  font-size: 2.5rem;
}

@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

/* event categroy  */

.event-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./images/event-category.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5rem 0;
  /* border: 2px solid red; */
}

.event-dash img {
  width: 35rem;
}

.categories {
  margin-top: 30px;
}

.heading {
  /* border: 2px solid red; */
  width: 75%;
}

.cards-list {
  /* border: 2px solid red; */
  z-index: 0;
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
  gap: 20px 25px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

/* 
@media all and (max-width: 500px) {
  .card-list {
   
    flex-direction: column;
  }
}
 */

.card {
  width: 250px;
  height: 220px;
  border-radius: 19px;
  /* background-image: url('https://i.redd.it/b3esnz5ra34y.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

.card .top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  /* border: 2px solid red; */
}

/* .vertical {
  border-left: 2px solid #3C295F;
  height: 80%;
  margin: auto;
} */

.card .bottom {
  display: flex;
  flex-direction: row;
  color: black;
  height: 30%;
  /* border: 2px solid red; */
  background: rgba(210, 210, 210, 0.33);
  border-radius: 0 0 19px 19px;
}

.card .bottom h2 {
  padding: 0 10px;
  font-family: "Inter";
  font-weight: 700;

  font-size: 15px;
  margin: auto;
  text-align: center;
  color: #3c295f;
}

.persona-dates {
  width: 30%;
  border-right: 2px solid #3c295f;
}

.event-name {
  width: 70%;
}

/* VIDEOS  */
.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-section h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 4px;
  /* identical to box height */

  color: #737373;
}

.video-section iframe {
  margin-top: 40px;
  height: 80%;
  width: 80%;
}

/* sponser 
 */

.our-sponser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 35vh;
  background: #f5f5f5;

  height: auto;
}

.sponsers-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sponsers h1 {
  font-family: "Inter";
  padding-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 4px;
  /* identical to box height */

  color: #737373;
}

.our-sponser img {
  width: 54%;
}

.sponser-logo img {
  padding: 25px 25px;
  height: 150px;
  width: 150px;
}

.our-sponser h1 {
  line-height: 2rem;
}

/* //list of events  */

.list-of-events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.list-of-events h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #ff5c00;
}

.list-of-events li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;

  color: #3c2b62;
}

/*********
             FOOTER
**********/
footer {
  color: var(--lite);
  background-color: rgba(41, 31, 100, 0.9);
}

footer h3 {
  color: var(--white);
  margin-bottom: 1.5rem;
}

footer a {
  color: #fff;
  display: block;
  margin: 15px 0;
}

footer fieldset {
  padding: 0;
}

.other-links {
  transform: translateX(45px);
}

footer fieldset input {
  background-color: transparent;
  border: none;
  width: min-content;
  padding: 1rem;
  color: #fff;
}

footer .flex:last-child {
  align-items: center;
}

footer .flex:last-child .flex-content:last-child {
  text-align: right;
}

footer .flex:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #334f6c;
  padding: 0.5rem;
  margin-right: 3px;
  text-align: center;
}

.email-field {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  width: max-content;
  height: 40px;
}

.email-field img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.email-field input {
  border: none;
  outline: none;
}

.email-field input::placeholder {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px !important;
}

.email p {
  margin-top: 8px !important;
}

.email img {
  width: 32px;
}

footer .flex:last-child a:hover {
  color: var(--gray);
}

.flex-content a {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

a:not([href]):not([class]),
a:not([href]):not([class]) {
  color: #fff;
}

.flex-content p {
  color: #fff !important;
}

.flex-content a,
.flex-content a,
.flex-content button {
  transition: 0.5s;
}

.flex-content a,
.flex-content p {
  font-size: 14px;
}

.flex-content h1,
.flex-content h2,
.flex-content h4,
.flex-content h5,
.flex-content h6 {
  color: var(--primary);
  font-weight: 600;
}

.flex-contenta,
.flex-contentbutton,
.flex-contentinput,
.flex-contenttextarea,
.flex-contentselect {
  outline: none !important;
}

fieldset {
  border: 0;
}

.title {
  color: var(--primary);
}

.flex,
.fixed_flex {
  display: flex;
}

.flex-content {
  width: 100%;
  position: relative;
}

.padding_1x {
  padding: 1rem;
}

.padding_2x {
  padding: 2rem;
}

.padding_3x {
  padding: 3rem;
}

.padding_4x {
  padding: 4rem;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.btn_1 {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.btn_1:hover {
  background-color: transparent;
  color: var(--primary);
}

.btn_2 {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}

.btn_2:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: max-content;
}

.social img {
  width: 30px;
}

.social p {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.facebook {
  gap: 0 !important;
}

.facebook img {
  width: 40px !important;
  transform: translateX(-6px);
}

@media screen and (max-width: 1440px) {
  .persona-fest h1 {
    font-size: 60px;
  }

  .persona-date h2 {
    font-size: 34px;
  }

  .hero-section-right img {
    height: 20rem;
  }

  .logo img {
    height: 6rem;
    width: 12rem;
  }

  .about-persona-text h1 {
    font-size: 40px;
  }

  .about-content {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .logo img {
    width: 100%;
  }

  nav ul li a {
    font-size: 80% !important;
  }
}

@media screen and (max-width: 992px) {
  .mobile-menu-icon {
    display: block;
    align-items: center;
  }

  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    height: min-content;
    align-items: center;
    background-color: #fff;
    transform: translateX(-25rem);
    transition: transform 0.5s ease-in-out;
    gap: 0;
  }

  nav ul li {
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  nav ul li a {
    color: #000;
  }

  nav ul li:not(:last-child) {
    border-bottom: 1px solid #000;
  }

  .about-persona {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    padding: 0;
  }

  .about-persona-text {
    width: 90%;
    margin-top: 50px;
  }

  .about-image {
    width: 50%;
  }

  .about-persona-text h1 {
    font-size: 28px;
  }

  .about-content {
    font-size: 16px;
  }

  .counter-item {
    width: 100%;
    height: 90%;
  }

  .counter-grid {
    margin: 0 2rem;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }

  .hero-section {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 920px) {
  .flex {
    flex-wrap: wrap;
  }

  .padding_1x,
  .padding_2x,
  .padding_3x,
  .padding_4x {
    padding: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }

  a,
  p {
    font-size: 12px;
  }

  .register-now {
    display: flex;
    width: 250px;
    height: 40px;
  }
}

@media (max-width: 1100px) {
  footer .flex:first-child {
    flex-wrap: wrap;
  }

  footer .flex:first-child .flex-content {
    flex: 1 1 40%;
  }

  .padding_1x {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 920px) {
  footer .flex:last-child .flex-content:last-child {
    text-align: left;
  }
}

@media (max-width: 545px) {
  footer .flex:first-child .flex-content {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 1127px) {
  .list-of-events h1 {
    font-size: 20px;
  }

  .list-of-events img {
    height: 80%;
    width: 80%;
  }

  .list-of-events li {
    font-size: 10px;
  }

  .sponser-logo img {
    padding: 25px 25px;
    height: 120px;
    width: 100px;
  }

  .sponsers h1 {
    font-size: 15px;
  }

  .our-sponser img {
    width: 34%;
  }

  .video-section iframe {
    height: 50%;
    width: 85%;
  }
}

@media screen and (max-width: 827px) {
  .list-of-events {
    flex-direction: column;
  }

  .counter-grid {
    gap: 1rem;
    width: fit-content;
  }

  .counter-container {
    margin: 1rem 0 3rem 0;
  }
}

@media screen and (max-width: 1346px) {
  .card {
    width: 210px;
    height: 170px;
  }
}

@media screen and (max-width: 615px) {
  .video-section {
    height: 500px;
    padding: 2rem 0;
  }

  .video-section iframe {
    height: "350";
    width: "350";
  }

  .hero-section-right img {
    height: 15rem;
  }

  .video-section h1 {
    font-size: 20px;
  }

  .persona-fest h1 {
    font-size: 40px;
  }

  .persona-date h2 {
    font-size: 20px;
  }

  .counter-item {
    height: 12rem;
  }

  .counter-container-main {
    transform: translateY(-20px);
  }

  .counter-item .counter {
    font-size: 2rem;
  }

  .counter-text {
    font-size: 1.5rem;
  }

  .event-dash img {
    width: 80%;
  }

  .about-persona-text h1 {
    font-size: 24px;
  }

  .about-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .video-section iframe {
    height: 30%;
    width: 95%;
  }

  .video-section h1 {
    font-size: 14px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .hamburger-menu {
    transform: translate(-10px, 10px);
  }

  .hero-section-left {
    margin-left: 2rem;
  }

  .persona-fest h1 {
    font-size: 24px;
  }

  .persona-date h2 {
    font-size: 16px;
  }

  .register-now {
    display: flex;
    width: 150px;
    height: 30px;
  }

  .counter-item {
    height: 10rem;
  }

  .counter-container-main {
    transform: translateY(-10px);
  }

  .counter-item .counter {
    font-size: 1.5rem;
  }

  .counter-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 615px) {
  .video-section {
    justify-content: flex-start;
    height: 70vh;
  }

  .video-section iframe {
    height: 70%;
  }

  .persona-fest h1 {
    font-size: 40px;
  }

  .persona-date h2 {
    font-size: 20px;
  }

  .counter-item {
    height: 12rem;
  }

  .counter-container-main {
    transform: translateY(-20px);
  }

  .counter-item .counter {
    font-size: 2rem;
  }

  .counter-text {
    font-size: 1.5rem;
  }

  .event-dash img {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .sponsers {
    height: auto;
  }

  .video-section {
    justify-content: flex-start;
    height: 70vh;
  }

  .video-section iframe {
    height: 70%;
    width: 95%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .hamburger-menu {
    transform: translate(-10px, 10px);
  }

  .hero-section-left {
    margin-left: 2rem;
  }

  .persona-fest h1 {
    font-size: 24px;
  }

  .persona-date h2 {
    font-size: 16px;
  }

  .register-now {
    display: flex;
    width: 150px;
    height: 30px;
  }

  .counter-item {
    height: 10rem;
  }

  .counter-container-main {
    transform: translateY(-10px);
  }

  .counter-item .counter {
    font-size: 1.5rem;
  }

  .counter-text {
    font-size: 1rem;
  }
}

.event-category a {
  text-decoration: none;
  color: #3c295f;
}
