body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

nav {
  background-color: #291f64 !important;
  position: fixed;
}

.gallery {
  min-height: 100vh;
  background: #eee;
  padding-bottom: 100px;
  padding-top: 12rem;
}

.gallery .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  list-style: none;
}

.gallery .controls .buttons {
  height: 40px;
  width: 140px;
  background: #fff;
  color: #666;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.gallery .controls .buttons.active {
  background: #372c77;
  color: #fff;
  border-radius: 5px;
}

.gallery .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .image-container .image {
  height: 250px;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.gallery .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .image-container .image:hover img {
  transform: scale(1.4);
}

.gallery p {
  color: #000;
}

.gallery h2 {
  color: #000;
}

.title {
  font-size: 46px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #291f64 !important;
}
p {
  color: black;
}
