@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;200&display=swap');


body{
    padding: 0;
    margin: 0;
}

.successfull , .successfull-elements-top , .successfull-elements-bottom{
    /* border: 2px solid red; */

}


.successfull{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    align-items: center;
    /* border: 2px solid red; */

}

.successfull-elements-top{
    /* border: 2px solid red; */

    height: 120px;
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successfull-elements-bottom{
    /* border: 2px solid red; */

    height: auto;
  
    width: 60%;
}

.successfull-elements-top h1{

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 40px;
/* identical to box height */

text-align: center;
letter-spacing: 0.015em;

color: #0EB400;

}

.successfull-elements-top h4{

    
    font-size: 20px;
    
    
    }


.user-details , .user-event-details{
    border-bottom: 2px solid black;
}

.user-details h1 , .user-event-details h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.015em;

color: #696969;
}

.user-details span , .user-event-details span{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.015em;

color: #696969;
}

.event-heading{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 12px;
letter-spacing: 0.015em;

color: #696969;
}

.save-pdf-button{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.save-pdf-button button{
    background: #0EB400;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

@media screen and (max-width: 970px) {
    .user-details span , .user-event-details span{
   
    font-size: 14px;
    line-height: 20px;
    
    }

    .user-details h1 , .user-event-details h1{
   
    font-size: 14px;
    line-height: 25px;
   
    }
    

    .successfull-elements-top h1 {
        font-size: 20px;
    }


    .successfull-elements-top h4 {

        font-size: 14px;
    }


}




